<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<br>
    {% extends 'admin/adminindex.html' %}
    {% block body %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Add Puzzle</title>
        <h1>
        Add Puzzle
        </h1>
        <br>
        </br>
</head>

<body>
<form action="/myapp/puzzlemanagement_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table class="table table-bordered ">
    <tr>
      <th>Name</th>
      <td><label for="textfield"></label>
        <label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required pattern="[A-Z a-z.]{3,25}" /></td>
    </tr>
{#    <tr>#}
{#      <td>Description</td>#}
{#      <td><label for="textfield3"></label>#}
{#      <input type="text" name="textfield3" id="textfield3" /></td>#}
{#    </tr>#}
    <tr>
      <th>Image</th>
      <td ><label for="fileField"></label>
        <label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" accept="image/*" /></td>
    </tr>
    <tr>
      <th>Level</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Add" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
</html>
