<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

{% extends 'parent/parentindex.html' %}
{% block body %}
    <h3>
    Edit Children
    </h3>
    <br>

<body>
<form id="form1" name="form1" method="post" action="/myapp/editchl/">
     {% csrf_token %}
  <table class="table table-bordered">
{#    <tr>#}
{#      <td>No of children</td>#}
{#        <input type="hidden" name="id" value="{{ pid }}">#}
{#      <td><label for="textfield"></label>#}
{#      <input type="text" name="textfield" id="textfield" /></td>#}
{#    </tr>#}
    <tr>
      <th style="color: black">Name of children</th> <input type="hidden" value="{{ data.id }}" name="id">
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" value="{{ data.Name }}" id="textfield2" class="form-control"/></td>
    </tr>
    <tr>
      <th style="color: black">DOB</th>
      <td><label for="textfield3"></label>
      <input type="date" name="textfield3" value="{{ data.DOB |date:'Y-m-d' }}" id="textfield3" class="form-control" /></td>
    </tr>
    <tr>
      <th style="color: black">Gender</th>
      <td><p>
        <label>
          <input type="radio" name="RadioGroup1" {% if data.Gender == 'male' %}checked{% endif %} value="male" id="RadioGroup1_0" />
          Male</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1"{% if data.Gender == 'female' %}checked{% endif %} value="female" id="RadioGroup1_1"class="table-bordered" />
          Female</label>
        <br />
      </p></td>
    </tr>
      <tr align="center">

{#      <td><input type="submit" name="button" id="button" value="ADD" /></td>#}
      <td colspan="2"><input type="submit" name="button2" id="button2" value="Update" class="btn btn-info"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
</html>
